src/main/resources/com/adobe/epubcheck/schema/30/epub-svg-30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="svg">
	<mode name="svg">
		<namespace ns="http://www.w3.org/2000/svg">
			<validate schema="epub-svg-30.rnc" schemaType="application/relax-ng-compact-syntax"
				useMode="allowForeignNS">
				<context path="foreignObject" useMode="allowHTMLOnly"/>
			</validate>
			<validate schema="epub-svg-30.sch" useMode="attachAnyNS"/>
		</namespace>
	</mode>
	<mode name="allowForeignNS">
		<namespace ns="http://www.w3.org/1999/xhtml">
			<attach/>
		</namespace>
		<namespace ns="http://www.idpf.org/2007/ops" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="http://www.w3.org/1999/xlink" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="http://www.w3.org/XML/1998/namespace" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="" match="attributes">
			<attach/>
		</namespace>
		<anyNamespace match="elements attributes">
			<allow/>
		</anyNamespace>
	</mode>
	<mode name="allowHTMLOnly">
		<namespace ns="http://www.w3.org/1999/xhtml">
			<attach/>
		</namespace>
		<namespace ns="http://www.idpf.org/2007/ops" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="http://www.w3.org/1999/xlink" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="http://www.w3.org/XML/1998/namespace" match="attributes">
			<attach/>
		</namespace>
		<namespace ns="" match="attributes">
			<attach/>
		</namespace>
	</mode>
	<mode name="attachAnyNS">
		<anyNamespace>
			<attach/>
		</anyNamespace>
	</mode>
</rules>
