src/main/resources/com/adobe/epubcheck/schema/30/epub-svg-30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="svg">
  <mode name="svg">
    <namespace ns="http://www.w3.org/2000/svg">
      <validate schema="epub-svg-30.rnc" schemaType="application/relax-ng-compact-syntax"
        useMode="attach"/>
      <validate schema="epub-svg-30.sch" useMode="attach"/>
    </namespace>
  </mode>
  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
</rules>
