src/main/resources/com/adobe/epubcheck/schema/30/ocf-metadata-30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="package">
	<mode name="package">
		<namespace ns="http://www.idpf.org/2013/metadata">
			<validate schema="ocf-metadata-30.rnc" schemaType="application/relax-ng-compact-syntax" useMode="attach"/>
			<validate schema="ocf-metadata-30.sch" useMode="attach"/>
		</namespace>
	</mode>
	<mode name="attach">
		<anyNamespace>
			<attach/>
		</anyNamespace>
	</mode>
</rules>
