src/main/resources/com/adobe/epubcheck/schema/30/ocf-container-30.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="package">
	<mode name="package">
		<namespace ns="urn:oasis:names:tc:opendocument:xmlns:container">
			<validate schema="ocf-container-30.rnc" schemaType="application/relax-ng-compact-syntax"/>
			<validate schema="multiple-renditions/container.sch"/>
		</namespace>
	</mode>
	<mode name="attach">
		<anyNamespace>
			<attach/>
		</anyNamespace>
	</mode>
</rules>
